body,html{
    padding: 0;
    margin: 0;
    background-color: rgb(201, 219, 186);
}

.menubar{
    width: 100vw;
    height: 70px;
    background-color: rgb(250, 163, 129);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.logosmall{
    width: 35px;
    height: 35px;
    background-color: rgb(220, 219, 168);
    margin-top: 12px;
    margin-left: 1200px;
    position: absolute;
}

.logolarge{
    height: 160px;
    width: 22vw;
    background-color: rgb(245, 205, 167);
    position: relative;
    margin-top: 180px;
    margin-left: 300px; 
}

.designlab{
    height: 80px;
    width: 14.5vw;
    background-color: rgb(245, 205, 167);
    position: relative;
    margin-top: 85px;
    margin-left: 347.5px;
    margin-bottom: 560px;
}

.designlink{
    height: 30px;
    width: 7.25vw;
    background-color: rgb(220, 219, 168);
    position: absolute;
    margin-top: 25px;
    margin-left: 45px;
}