body,html{
    padding: 0;
    margin: 0;
    background-color: rgb(108, 14, 217);
}

.menubar{
    height: 65px;
    width: 100vw;
    background-color: rgb(173, 230, 142);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}

.search{
    height: 65px;
    width: 25vw;
    background-color: rgb(108, 14, 217);
    margin-left: 680px;
    position: absolute;
}

.promotion{
    height: 140px;
    width: 60vw;
    background-color: rgb(52, 206, 22);
    margin: auto;
    position: relative;
    margin-top: 80px;
}

.links{
    width: 45vw;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin: auto;
    margin-top: 25px;
}

.downloadlogin{
    height: 52px;
    background-color: rgb(236, 213, 250);
    z-index: 2;
}

.mainimage{
    height: 590px;
    width: 100vw;
    background-color: rgb(216, 253, 205);
    position: relative;
    margin: auto;
    margin-top: -26px;
    z-index: 1;
}

.infopanel{
    height: 185px;
    width: 70vw;
    margin: auto;
    position: relative;
    background-color: rgb(173, 230, 142);
    margin-top: 130px;
}

.smalllogo{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
    background-color: rgb(124, 58, 191);
}

.trysignup{
    width: 68vw;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1.4fr .6fr;
    grid-column-gap: 10em;
    margin-top: 65px;
    margin-bottom: 45px;
}

.trydiscord{
    height: 90px;
    background-color: rgb(17, 105, 27);
}

.signup{
    height: 75px;
    background-color: rgb(17, 105, 27);
}