body,html{
    padding: 0;
    margin: 0;
    background-color: rgb(189,214,219);
}

.menu{
    background-color: rgb(219, 34, 42);
    width: 100vw;
    height: 30px;
    position: fixed;
    top:0;
    left:0;
}

.titlelogo{
    background-color: antiquewhite;
    width: 30vw;
    height: 50px;
    margin: auto;
    margin-top: 75px;

}

.acouplewords{
    background-color: antiquewhite;
    width: 12vw;
    margin-top: 60px;
    height: 35px;
    margin: auto;
}

.content{
    width: 85vw;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item{
    height: 300px;
    background-color: black;
    margin-bottom: 1em;
}

.post{
    height: 240px;
    background-color: coral;
    margin-bottom: 2em;
}

.image{
    width: 240px;
    background-color: burlywood;
    height: 240px;
}

.contentbar{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 50px;
}

.ad2{
    height: 340px;
    background-color: crimson;
}

.newsletterinfo{
    height: 340px;
}

.logo{
    margin-left: 90px;
    margin-top: 80px;
    height: 100px;
    width: 400px;
    margin: absolute;
    background-color: blueviolet;
}

.newslettersearch{
    height: 60px;
    width: 200px;
    background-color: darkgrey;
    margin-top: 1em;
    margin-left: 185px;
}

.ad3{
    display: block;
    height: 340px;
    background-color: chartreuse;
}

.webinfo{
    
    margin: auto;
    margin-top: 2em;
    height: 1020px;
    width: 25vw;
    margin-bottom: 2em;
    background-color: darkgoldenrod;
}


body,html{
    padding: 0;
    margin: 0;
    background-color: rgb(199, 232, 243);
}

.topmenubar{
    background-color: rgb(191, 154, 202);
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
}

.getcardimage{
    height: 360px;
    position: relative;
    background-color: rgb(142, 65, 98);
    margin-top: 60px;
}

.catalogsearch{
    height: 260px;
    width: 260px;
    position: absolute;
    top: 70px;
    right: 120px;
    background-color: rgb(65, 57, 62)
}

.libpromo{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    margin: auto;
    margin-top: 40px;
}

.promo{
    height: 200px;
    background-color: rgb(237, 162, 192);
}

.libcardpromoimage{
    height: 250px;
    width: 100vf;
    position: relative;
    margin-top: 100px;
    background-color: rgb(142, 65, 98); 
}

.getacard{
    height: 235px;
    width: 420px;
    position: absolute;
    bottom: 0px;
    right: 100px;
    background-color: rgb(65, 57, 62);
}