body,html{
    padding: 0;
    margin: 0;
    background-color: rgb(223, 217, 226);
}

.topmenubarwgsn{
    height: 65px;
    display: block;
    width: 100vw;
    position: relative;
    background-color: rgb(42, 127, 98)
}

.menuoptions{
    height: 35px;
    width: 50vw;
    position: absolute;
    margin-top: 13px;
    margin-left: 10vw;
    background-color: rgb(195, 172, 206);
}

.wgsnlogo{
    height: 45px;
    width: 30vw;
    position: relative;
    margin: auto;
    margin-top: 55px;
    background-color: rgb(195, 172, 206);
}

.toparticle{
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin: auto;
    margin-top: 55px;
}

.article{
    height: 420px;
    background-color: rgb(195, 172, 206);
}

.imagewgsn{
    height: 410px;
    background-color: rgb(83, 128, 131);
}

.minorarticles{
    width: 92vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    margin: auto;
    margin-top: 65px;
}

.minorarticle{
    height: 525px;
    position: relative;
    background-color: rgb(195, 172, 206);
}

.correspondingimage{
    height: 200px;
    width: 350px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(83, 128, 131);
}

.wanttoseemore{
    height: 55px;
    width: 340px;
    margin: auto;
    position: relative;
    margin-top: 70px;
    background-color: rgb(195, 172, 206);
}

.more{
    height: 40px;
    width: 225px;
    margin: auto;
    position: relative;
    margin-top: 25px;
    background-color: rgb(42, 127, 98);
}

.titlerow{
    height: 250px;
    width: 100vw;
    position: relative;
    margin-top: 70px;
    background-color: rgb(137, 144, 159);
}

.sectiontitle{
    height: 70px;
    width: 445px;
    background-color: rgb(195, 172, 206);
    margin-left: 417px;
    margin-top: 90px;
    position: absolute;
}

.row1{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin: auto;
    background-color: rgb(137, 144, 159);
}

.latestreport1{
    height: 630px;
    background-color: rgb(195, 172, 206);
    width: 540px;
    margin: auto;
}

.latestreportimage1{
    height: 310px;
    width: 520px;
    background-color: rgb(83, 128, 131);
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}

.margin{
    height: 40px;
    width: 100vw;
    position: relative;
    background-color: rgb(137, 144, 159);
}

.row2{
    width: 100vw;
    height: 670px;
    margin: auto;
    position: relative;
    background-color: rgb(137, 144, 159);
}

.latestreport2{
    height: 630px;
    background-color: rgb(195, 172, 206);
    width: 540px;
    margin: auto;
}

.latestreportimage2{
    height: 310px;
    width: 520px;
    background-color: rgb(83, 128, 131);
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}

.row3{
    height: 185px;
    width: 100vw;
    position: relative;
    background-color: rgb(137, 144, 159);
}

.morelreports{
    height: 45px;
    width: 335px;
    position: absolute;
    background-color: rgb(195, 172, 206);
    margin: 37.5vw;
    margin-top: 50px;
}

.fashionfeedbox{
    height: 140px;
    width: 670px;
    position: relative;
    background-color: rgb(195, 172, 206);
    margin: auto;
    margin-top: 90px;
}

.viewalltrends{
    height: 50px;
    width: 300px;
    position: relative;
    background-color: rgb(42, 127, 98);
    margin: auto;
    margin-top: 50px;
}

.catwalk1gallery{
    height: 125px;
    width: 570px;
    position: relative;
    background-color: rgb(195, 172, 206);
    margin: auto;
    margin-top: 160px;
}

.gallerygrid{
    display: grid;
    width: 85vw;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    margin-top: 90px;
}

.gallery1{
    height: 285px;
    background-color: rgb(195, 172, 206);
}

.gallery2{
    height: 350px;
    background-color: rgb(83, 128, 131);
}

.catwalkgallerymore{
    height: 40px;
    width: 285px;
    position: relative;
    background-color: rgb(42, 127, 98);
    margin: auto;
    margin-top: 50px;
}

.industrynews{
    height: 125px;
    width: 430px;
    position: relative;
    background-color: rgb(195, 172, 206);
    margin: auto;
    margin-top: 270px;
}

.blogeventgrid{
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 285px 285px 285px;
    grid-column-gap: 1.5em;
    grid-row-gap: 4em;
    margin: auto;
    margin-top: 135px;
}

.newblogevents{
    height: 285px;
    background-color: rgb(83, 128, 131);
}

.bottommenu{
    width: 100vw;
    height: 100px;
    display: block;
    position: relative;
    background-color: rgb(42, 127, 98);
    margin-top: 135px;
}